{% extends 'm1/base.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5">
        <h2 class="text-center mb-5">US Army Period Videos</h2>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ principles_of_operation.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ principles_of_operation.link }}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ us_army_cleanliness.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ us_army_cleanliness.link }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 text-center">
            <h4>{{ marksmanship_one.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ marksmanship_one.link }}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ marksmanship_two.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ marksmanship_two.link }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="text-center mb-5">Rifle Maintenance</h2>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ maintenance_one.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ maintenance_one.link }}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ maintenance_two.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ maintenance_two.link }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 text-center">
            <h4>{{ maintenance_three.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ maintenance_three.link }}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ maintenance_four.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ maintenance_four.link }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <h2 class="text-center mb-5">Production History</h2>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ production_video.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ production_video.link }}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h4>{{ seventh_round.title }}</h4>
            <div class="ratio ratio-16x9">
                <iframe src="{{ seventh_round.link }}" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock content %}