{% extends 'm1/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col">
            
            <img src="{% static 'm1/john-garand-small.jpg' %}" alt="My image">
        </div>
    </div>
{% endblock content %}

{% block date %}
    <div class="row mb-5">
        <h1>M1 Garand WW2 Production Data</h1>
        <p>Input your serial number and select the manufacturer to see the month and year your rifle was produced and the correct drawing numbers of associated parts.</p>
        <div class="col-12 col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-12 col-md-6">
            {% if rifle %}
                <h4 class="mt-5">Your Rifle's Production Data</h4>
                <ul>
                    {% for k, v in rifle.items %}
                        {% if 'Possible' in k %}
                            <li>
                                <b>{{ k }}:</b>
                                {% for part in v %}
                                    <ul>
                                        <li>{{ part }}</li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% else %}
                            <li><b>{{ k }}:</b> {{ v }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% elif not rifle and error %}
                <p>There was a problem and your serial number couldn't be found.</p>
            {% else %}
                <p>Data will appear here.</p>
            {% endif %}
        </div>
    </div>
{% endblock date %}
